@{
    ViewData["Title"] = "Access Denied";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>@ViewData["Title"] - MiniBBS</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
    </div>
</body>
</html>
